<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../public/signUp.css">
    <title>signUp</title>
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form  id="form">
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <div class="error-message" style="color: red;"></div>
        <div class="login-link">
            Already have an account? <a href="login.html">Login</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script>
       
       const form = document.querySelector('#form');
       const errorMsg = document.querySelector('.error-message')
       form.addEventListener("submit", async(event)=>{
        event.preventDefault();
        const name = document.querySelector('#name').value;
        const email = document.querySelector('#email').value;
        const password = document.querySelector('#password').value;
     
        const inputs ={
            name,
            email,
            password
        }

        try{
            const response = await axios.post("http://localhost:8080/add/signUp", inputs);
            console.log(response.data);
          // Redirect to login page after successful signup
          window.location.href = "login.html";
        }catch(error){
            if (error.response && error.response.status === 400) {
                    errorMsg.textContent = error.response.data.error;
                } else {
                    errorMsg.textContent = "An error occurred. Please try again later.";
                }
        }
       
       })
       form.reset();

    </script>
</body>
</html>